
<div class="container">
    <div class="row">
      <div class="col">
        <div>
          <a [routerLink]="['/actualiza']">
        {{indice+1}} {{empleadoDeLista.nombre}}  {{empleadoDeLista.apellido}}   {{empleadoDeLista.cargo}}   {{empleadoDeLista.salario}}
      </a>
      </div>
      <app-caracteristicas-empleado (caracteristicasEmpleado)="agregarCaracteristica($event)"></app-caracteristicas-empleado>
      <ul>
        <li *ngFor="let Caracteristica of arrayCaracteristicas">{{Caracteristica}}</li>
      </ul>
    </div>
    </div>