<div class="container mt-4">
    <h2 class="display-4">Bienvenido a la Aplicación de Gestión de Empleados</h2>
    <p class="lead">Esta aplicación te permite administrar la información de los empleados de tu empresa.</p>
  
    <div class="row mt-4">
      <div class="col-md-6">
        <h4>Características Principales:</h4>
        <ul class="list-group">
          <li class="list-group-item">Registro de empleados.</li>
          <li class="list-group-item">Eliminación de empleados.</li>
          <li class="list-group-item">Lista de empleados paginada.</li>
          <li class="list-group-item">Inicio de sesión con JWT.</li>
          <li class="list-group-item">Acceso restringido a ciertas funcionalidades con autenticación.</li>
        </ul>
      </div>
  
      <div class="col-md-6">
        <h4>Instrucciones de Uso:</h4>
        <ol class="list-group">
          <li class="list-group-item">Inicia sesión para acceder a todas las funciones.</li>
          <li class="list-group-item">Utiliza la página de lista de empleados para ver y paginar la información de los empleados.</li>
          <li class="list-group-item">Accede a la página de agregar empleado para registrar nuevos empleados.</li>
          <li class="list-group-item">Utiliza la página de eliminar empleado para quitar empleados de la lista.</li>
        </ol>
      </div>
    </div>
  </div>
  