
<h2 class="mb-4">Lista Empleados</h2>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th (click)="cambiarCampoOrden('id')">ID</th>
      <th (click)="cambiarCampoOrden('nombre')">Nombre</th>
      <th (click)="cambiarCampoOrden('apellido')">Apellido</th>
      <th (click)="cambiarCampoOrden('email')">Email</th>
      <th (click)="cambiarCampoOrden('edad')">Edad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{empleado.id}}</td>
      <td>{{empleado.nombre}}</td>
      <td>{{empleado.apellido}}</td>
      <td>{{empleado.email}}</td>
      <td>{{empleado.edad}}</td>
    </tr>
  </tbody>
</table>